{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
    {% block link %}{% endblock link%}
    {% block title %}{% endblock title%}
    {% block metatags %}{% endblock metatags %}
</head>
<body>
    <header class="headerClass" style='font-family: "Bitcount Grid Double", system-ui; font-optical-sizing: auto; font-weight: bolder; font-style: normal; font-variation-settings: "slnt" 0, "CRSV" 0.5, "ELSH" 0, "ELXP" 0; text-align: center;'>
        <h1 style="font-size: 50px;">STudy STar</h1>
        <div style="text-align: center;"><img src="{% static 'images/logo.png' %}" height="130px" width="130px" alt="STudy STar Logo" style="border: 1px solid white; border-radius: 130px"/></div>
    </header><br/>


    
    {% block body %}{% endblock body%}
    <footer>
        <div class="footer">
            <p style="font-size: 18">
                <div class='container'>
                    <div class='row'>
                        <div class='col-md-6'>
                            <h4 style="font-weight: 'bolder'">Socials</h4>
                            <a href='https://www.facebook.com/studystarofficial' target='__blank' style="padding: 5px; margin: 5px;"><i class="fab fa-facebook-f fa-2x"></i></a>
                            <a href='https://www.tiktok.com/@studystarofficial' target='__blank' style="padding: 5px; margin: 5px;"><i class="fab fa-tiktok fa-2x"></i></a>
                            <a href='https://wa.me/+260975904433' target='__blank' style="padding: 5px; margin: 5px;"><i class="fab fa-whatsapp fa-2x" style="color: #25D366;"></i></a>
                        </div>
                        <div class='col-md-6'>
                            <h4 style="font-weight: 'bolder'">Other</h4>
                            <a href='{% url "aboutPage" %}'>FAQ</a>
                        </div>
                    </div>
                </div>
                </p>
        </div>
    </footer>
</body>
</html>