{% extends 'mainapp/basetutorials.html' %}
{% load static %}
{% block seo %}
  <meta name="description" content="STudy STar tutorials page| Mathematics" />
  <meta name="keywords" content="Introduction to Mathematics, Sets, Algebra, Indices, Matrices, Simultaneous Equations, Travel Graphs, Similarity and Congruence, Angles, Bearings, Coordinate Geometry, Functions, Variation, Quadratic Equations, Quadratic Functions, Arithmetic Progression, Geometric Progression, Circle Properties, Mensuration, Vectors, Probability, Computer (PseudoCode and Flow Charts), Earth Geometry, Trigonometry, calculus: Differentiation, calculus: Integration" />
  <meta property="og:title" content="STudy STar: Mathematics tutorials" />
  <meta property="og:description" content="STudy STar tutorials page| Mathematics" />
  <meta property="og:image" content="http://www.studystar.me/static/media/mathematics.4572d45d14830ff3dbed.jpeg" />
  <meta property="og:url" content="https://www.studystar.me" />
  <meta property="og:type" content="website" />
  <link rel="canonical" href='/mathematics'/>
{% endblock seo %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/mathematics.css' %}"/>
{% endblock link %}
{% block title%}
    <title>STudy STar| Podcasts Page</title>
{% endblock title %}
{% block body %}
    <main>
        <!-- Start of Menu -->

        <!-- The sliding menu -->
        <div id="menu" class="menu">
            <div style="text-align: center;"><img src="../../static/images/logo.png" height="45px" width="45px" style="border-radius: 45px;"/></div>
            <a href="javascript:void(0)" class="close-btn" onclick="closeMenu()">&times;</a>
            <a href="{% url 'homePage' %}" class="btn-menu" onclick="closeMenu()">Home</a>
            <a href="{% url 'booksPage' %}" class="btn-menu" onclick="closeMenu()">Books</a>
            <a href="{% url 'tutorialsPage' %}" class="selected" onclick="closeMenu()">Tutorials</a>
            <a href="{% url 'videosPage' %}" class="btn-menu" onclick="closeMenu()">Videos</a>
            <a href="{% url 'podcastsPage' %}" class="btn-menu" onclick="closeMenu()">Podcasts</a>
            <a href="{% url 'smartifyPage' %}" class="btn-menu" onclick="closeMenu()">Smartify</a>
            <a href="{% url 'aboutPage' %}" class="btn-menu" onclick="closeMenu()">About</a>

            <div class="label" style="text-align: center;">&copy; 2025 STudy STar</div>
        </div>

        <!-- Page content -->
        <div id="main" style="text-align: center;">
            <span style="font-size:24px; cursor:pointer" onclick="openMenu()">
                <b style="border: 1px solid black; border-radius: 30px; margin: 5px; padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;">
                    &#9776;
                </b>
            </span>
        </div>

        <script src="{% static 'js/scripts.js' %}"></script>

        <!-- End of Menu -->
        <h1 class="h1">MATHEMATICS PAGE</h1>
        <div class='grade10'>
            <h3 style="text-align: center; font-size: 25px; font-family: 'tahoma sans-serif'; font-weight: 'bolder'; color: rgb(12, 245, 96); background-color: rgb(11, 53, 126); padding: 15px;">Grade Ten</h3>
            <div class="topicCon10">
              <h4 class="topicSelector"><x style='color: #0066FF'>Introduction to Mathematics</x><br/><span class='badge' class="new">FREE</span></h4>
              <p class="image"><a href='https://drive.google.com/uc?id=10iwBl2Z9orXFty39UFCOZPSwkaakDL7s&export=download'><img src="../../static/images/tutorials/sr/mat/introduction_to_mathematics.png" height=187.04px width=132.32px class="imb" alt="Introduction to Mathematics" class="products"/></a></p>
              
              <!-- <p class="linkCon"><a href='/introduction_to_mathematics' class="link10">Brain Booster</a><br/></p> -->
              <p class="linkCon"><a href='https://drive.google.com/uc?id=14GF1L3AG2SBv0xZWfv0jMsC00ij8J4O3&export=download' class="link10">Practice Test</a><br/></p>
              <p class="linkCon"><a href='https://drive.google.com/uc?id=1XObnvyQgmWw8ICkmO4MFkCo0iHmH3vfO&export=download' class="link10">Practice Test Answers</a></p>
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
      
            <div class="topicCon10">
              <h4 class="topicSelector"><x style='color: #0066FF'>Sets</x><br/><span class='badge' class="price">4 ZMW </span></h4>
              <p class="image"><!-- <a href='https://drive.google.com/uc?id=16GIjjG1AFDhwVwGziAkcC1n4JG-21jj5&export=download'> --><a href="https://wa.me/+260975904433"><img src="../../static/images/tutorials/sr/mat/sets_and_numbers.png" height=187.04px class="imb" width=132.32px alt="Sets" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link10">Brain Booster</a><br/></p>  -->
               <p class="linkCon"><a href='' class="link10">Practice Test</a><br/></p>
              <p class="linkCon"><a href='' class="link10">Practice Test Answers</a></p> 
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
      
            <div class="topicCon10">
              <h4 class="topicSelector">Algebra<br/><span class='badge' class="price">4 ZMW </span></h4>
              <p class="image"><!-- <a href='https://drive.google.com/uc?id=1Z1xr15w8AKE14UIQAMdDSlm--6NIft2o&export=download'> --><a href="https://wa.me/+260975904433"><img src="../../static/images/tutorials/sr/mat/algebra.png" height=187.04px class="imb" width=132.32px alt="Algebra" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link10">Brain Booster</a><br/></p>  -->
              <p class="linkCon"><a href='https://drive.google.com/uc?id=1zHjuJB5yeszuPyRFVXHbaOr6_GS2QMCo&export=download' class="link10">Practice Test</a><br/></p>
              <p class="linkCon"><a href='https://drive.google.com/uc?id=1jstN23g33cD8eSoIYSkR82whdpktB6Kg&export=download' class="link10">Practice Test Answers</a></p>
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
      
            <div class="topicCon10">
              <h4 class="topicSelector">Indices<br/><span class='badge' class="new">FREE</span></h4>
              <p class="image"><a href='https://drive.google.com/uc?id=1NpQZu_La8NdoeM8IOjrAIbGGV28l1zb1&export=download'><img src="../../static/images/tutorials/sr/mat/indices.png" height=187.04px width=132.32px class="imb" alt="Indices" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link10">Brain Booster</a><br/></p>  -->
              <p class="linkCon"><a href='https://drive.google.com/uc?id=18_RjSk0XOCTyn_6fxxbmFcsP8u5pZvuJ&export=download' class="link10">Practice Test</a><br/></p>
              <p class="linkCon"><a href='https://drive.google.com/uc?id=1zan6VKV3J9DTgnQW-V1t3-sshG-uR6cz&export=download' class="link10">Practice Test Answers</a></p>
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
      
            <div class="topicCon10">
              <h4 class="topicSelector">Matrices<br/><span class='badge' class="price">4 ZMW </span></h4>
              <p class="image"><!-- <a href='https://drive.google.com/uc?id=176V9ojDnpkouxrsjvu64KuMyowZ0KBTK&export=download'> --><a href="https://wa.me/+260975904433"><img src="../../static/images/tutorials/sr/mat/matrices.png" height=187.04px class="imb" width=132.32px alt="Matrices" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link10">Brain Booster</a><br/></p>  -->
               <p class="linkCon"><a href='' class="link10">Practice Test</a><br/></p>
              <p class="linkCon"><a href='' class="link10">Practice Test Answers</a></p> 
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
      
            <div class="topicCon10">
              <h4 class="topicSelector">Simultaneous Equations<br/><span class='badge' class="price"> 4 ZMW </span></h4>
              <p class="image"><!-- <a href='https://drive.google.com/uc?id=1RneC29L0DJ5bf4ZHMDhCvxDKl15IHKay&export=download'> --><a href="https://wa.me/+260975904433"><img src="../../static/images/tutorials/sr/mat/simultaneous_equations.png" height=187.04px class="imb" width=132.32px alt="Simultaneous Equations" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link10">Brain Booster</a><br/></p>  -->
               <p class="linkCon"><a href='' class="link10">Practice Test</a><br/></p>
              <p class="linkCon"><a href='' class="link10">Practice Test Answers</a></p> 
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
      
      
            <div class="topicCon10">
              <h4 class="topicSelector">Travel Graphs<br/><span class='badge' class="price">4 ZMW </span></h4>
              <p class="image"><!-- <a href='https://drive.google.com/uc?id=1PS8HqUQ7z78VkoQWk8hl02nx_p9mcQTY&export=download'> --><a href="https://wa.me/+260975904433"><img src="../../static/images/tutorials/sr/mat/travel_graphs.png" height=187.04px class="imb" width=132.32px alt="Travel Graphs" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link10">Brain Booster</a><br/></p>  -->
               <p class="linkCon"><a href='' class="link10">Practice Test</a><br/></p>
              <p class="linkCon"><a href='' class="link10">Practice Test Answers</a></p> 
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
      
            <div class="topicCon10">
              <h4 class="topicSelector">Similarity and Congruence<br/><span class='badge' class="price">4 ZMW </span></h4>
              <p class="image"><!-- <a href='https://drive.google.com/uc?id=1SJiV-rREzLT4_T3wZ-zehwXBb1wxCu1C&export=download'> --><a href="https://wa.me/+260975904433"><img src="../../static/images/tutorials/sr/mat/similarity_and_congruence.png" height=187.04px class="imb" width=132.32px alt="Similarity and Congruence" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link10">Brain Booster</a><br/></p>  -->
               <p class="linkCon"><a href='' class="link10">Practice Test</a><br/></p>
              <p class="linkCon"><a href='' class="link10">Practice Test Answers</a></p> 
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
      
            <div class="topicCon10">
              <h4 class="topicSelector">Angles<br/><span class='badge' class="price">4 ZMW </span></h4>
              <p class="image"><!-- <a href='https://drive.google.com/uc?id=1pUWU2GlYUTvBDuCGBZ_HTYgoEP5Wg9LM&export=download'> --><a href="https://wa.me/+260975904433"><img src="../../static/images/tutorials/sr/mat/angles.png" height=187.04px class="imb" width=132.32px alt="Angles" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link10">Brain Booster</a><br/></p>  -->
              <p class="linkCon"><a href='https://drive.google.com/uc?id=1qGNrIaKWZtgdXWVJkF1Y8vDv7-QtGoy4&export=download' class="link10">Practice Test</a><br/></p>
              <p class="linkCon"><a href='https://drive.google.com/uc?id=1xwy6H4-S2wLzQI6TUuX34BCCwPESUywk&export=download' class="link10">Practice Test Answers</a></p>
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
      
            <div class="topicCon10">
              <h4 class="topicSelector"><x style='color: #0066FF'>Bearings</x><br/><span class='badge' class="price">4 ZMW </span></h4>
              <p class="image"><!-- <a href='https://drive.google.com/uc?id=1yYukE6HC7O6IjCLqHIrFJvgKMlzuY6fu&export=download'> --><a href="https://wa.me/+260975904433"><img src="../../static/images/tutorials/sr/mat/bearings.png" height=187.04px class="imb" width=132.32px alt="Bearings" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link10">Brain Booster</a><br/></p>  -->
              <p class="linkCon"><a href='https://drive.google.com/uc?id=112KJAQ1pjwn7ZK2ECfGvNEevjrl01I1b&export=download' class="link10">Practice Test</a><br/></p>
              <p class="linkCon"><a href='https://drive.google.com/uc?id=1motH7gC7IWGUgCJCSS8_rIdNQcq3YStI&export=download' class="link10">Practice Test Answers</a></p>
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
            </div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
            <div class='grade11'>
            <h3 style="text-align: center; font-size: 25px; font-family: 'tahoma sans-serif'; font-weight: bolder; color: gold; padding-top: 20px; background-color: rgb(255, 4, 4); padding: 15px;">Grade Eleven</h3>
            <div class="topicCon11">
              <h4 class="topicSelector"><x style='color: #0066FF'>Coordinate Geometry</x><br/><span class='badge' class="price">4 ZMW </span></h4>
              <p class="image"><!-- <a href='https://drive.google.com/uc?id=1Q6EnFCA8BZc_qppPSrKO4oEQIr4XtX4y&export=download'> --><a href="https://wa.me/+260975904433"><img src="../../static/images/tutorials/sr/mat/coordinate_geometry.png" height=187.04px class="imb" width=132.32px alt="Coordinate Geometry" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link11">Brain Booster</a><br/></p>  -->
              <p class="linkCon"><a href='https://drive.google.com/uc?id=1-BHkrL7SyEymgt-gDkrUOt5AQuFgiIbA&export=download' class="link11">Practice Test</a><br/></p>
              <p class="linkCon"><a href='https://drive.google.com/uc?id=1kEMTiH9VvktKWTqa5LwlRSMEiMIMbdIj&export=download' class="link11">Practice Test Answers</a></p>
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
      
            <div class="topicCon11">
              <h4 class="topicSelector">Functions<br/><span class='badge' style='color: rgb(0,176,80)'>FREE</span></h4>
              <p class="image"><a href='https://drive.google.com/uc?id=1WpEI50WmMi5dCoVI4YTxd7A_hCEvkcFd&export=download'><img src="../../static/images/tutorials/sr/mat/functions.png" height=187.04px width=132.32px class="imb" alt="Functions" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link11">Brain Booster</a><br/></p>  -->
              <p class="linkCon"><a href='https://drive.google.com/uc?id=1O7I2U_Xu90KZQ3r395VtKVdsVPB0XwLP&export=download' class="link11">Practice Test</a><br/></p>
              <p class="linkCon"><a href='https://drive.google.com/uc?id=1zY5rbKeKejVe_t1wzcG0T4IkVFlleFjn&export=download' class="link11">Practice Test Answers</a></p>
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
      
            <div class="topicCon11">
              <h4 class="topicSelector">Variation<br/><span class='badge' class="price">4 ZMW </span></h4>
              <p class="image"><!-- <a href='https://drive.google.com/uc?id=1uJL_WMuyeb3iBIZhEW6f216JcU00UgAH&export=download'> --><a href="https://wa.me/+260975904433"><img src="../../static/images/tutorials/sr/mat/variation.png" height=187.04px class="imb" width=132.32px alt="Variation" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link11">Brain Booster</a><br/></p>  -->
              <p class="linkCon"><a href='https://drive.google.com/uc?id=18Dol9ZZakQAOgClN-ReyX_WYliUmHrcK&export=download' class="link11">Practice Test</a><br/></p>
              <p class="linkCon"><a href='https://drive.google.com/uc?id=1fKU0Q0BqE_ItDdaN_5eIywO7AHuUl3JD&export=download' class="link11">Practice Test Answers</a></p>
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
      
            <div class="topicCon11">
              <h4 class="topicSelector">Quadratic Equations<br/><span class='badge' class="price">4 ZMW </span></h4>
              <p class="image"><!-- <a href='https://drive.google.com/uc?id=1kpRPW5eGJzEk0Mb75z8kIY4wW0XibmCl&export=download'> --><a href="https://wa.me/+260975904433"><img src="../../static/images/tutorials/sr/mat/quadratic_equations.png" height=187.04px class="imb" width=132.32px alt="Quadratic Equations" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link11">Brain Booster</a><br/></p>  -->
               <p class="linkCon"><a href='' class="link11">Practice Test</a><br/></p>
              <p class="linkCon"><a href='' class="link11">Practice Test Answers</a></p> 
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
      
            <div class="topicCon11">
              <h4 class="topicSelector">Quadratic Functions<br/><span class='badge' class="price">4 ZMW </span></h4>
              <p class="image"><!-- <a href='https://drive.google.com/uc?id=1Jfdm9fz2U70ZQvYNrC5BK1Fl85wdTsTA&export=download'> --><a href="https://wa.me/+260975904433"><img src="../../static/images/tutorials/sr/mat/quadratic_functions.png" height=187.04px class="imb" width=132.32px alt="Quadratic Functions" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link11">Brain Booster</a><br/></p>  -->
               <p class="linkCon"><a href='' class="link11">Practice Test</a><br/></p>
              <p class="linkCon"><a href='' class="link11">Practice Test Answers</a></p> 
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
      
            <div class="topicCon11">
              <h4 class="topicSelector">Arithmetic Progression<br/><span class='badge' class="price">4 ZMW </span></h4>
              <p class="image"><!-- <a href='https://drive.google.com/uc?id=1lGdPtXp5YtmkrDs5zGg_nVN1iDgNzNRj&export=download'> --><a href="https://wa.me/+260975904433"><img src="../../static/images/tutorials/sr/mat/arithmetic_progression_(AP).png" height=187.04px class="imb" width=132.32px alt="Arithmetic Progression" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link11">Brain Booster</a><br/></p>  -->
              <p class="linkCon"><a href='https://drive.google.com/uc?id=1ya85kkCVSMvkjGjg3L5dKLLT9nLT5cvQ&export=download' class="link11">Practice Test</a><br/></p>
              <p class="linkCon"><a href='https://drive.google.com/uc?id=1d9hRZCKfCGuKN3WaWrBNd9Pz8rI2S0QL&export=download' class="link11">Practice Test Answers</a></p>
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
      
            <div class="topicCon11">
              <h4 class="topicSelector">Geometric Progression<br/><span class='badge' class="price">4 ZMW </span></h4>
              <p class="image"><!-- <a href='https://drive.google.com/uc?id=1pXhgyKXKJSHKOu0mjZkHqzBoKBlJy1kE&export=download'> --><a href="https://wa.me/+260975904433"><img src="../../static/images/tutorials/sr/mat/geometric_progression_(GP).png" height=187.04px class="imb" width=132.32px alt="Geometric Progression" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link11">Brain Booster</a><br/></p>  -->
              <p class="linkCon"><a href='https://drive.google.com/uc?id=1j3rMCs_-lgD4H9cYH3l4nhh-s3L0lKsk&export=download' class="link11">Practice Test</a><br/></p>
              <p class="linkCon"><a href='https://drive.google.com/uc?id=1cZyhs0w0ttJic5_GNptow_SoaQtCMtDr&export=download' class="link11">Practice Test Answers</a></p>
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
      
            <div class="topicCon11">
              <h4 class="topicSelector">Circle Properties<br/><span class='badge' style='color: rgb(0,176,80)'>FREE</span></h4>
              <p class="image"><a href='https://drive.google.com/uc?id=1i-mh6cHqYEzduD35WTXoQhrw9rYn0zVM&export=download'><img src="../../static/images/tutorials/sr/mat/angle_properties_of_a_circle.png" height=187.04px width=132.32px class="imb" alt="Circle Properties" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link11">Brain Booster</a><br/></p>  -->
              <p class="linkCon"><a href='https://drive.google.com/uc?id=1skr_lEGlAh66qhXJdRUa2EtuKV8FzW5U&export=download' class="link11">Practice Test</a><br/></p>
              <p class="linkCon"><a href='https://drive.google.com/uc?id=1YuOmLWUr4E1DsNQjnOwRm-hR_L1X1fF7&export=download' class="link11">Practice Test Answers</a></p>
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
      
            <div class="topicCon11">
              <h4 class="topicSelector">Mensuration<br/><span class='badge' class="price">4 ZMW </span></h4>
              <p class="image"><!-- <a href='https://drive.google.com/uc?id=1-w0qD2oC99odODvO4Cr6Tm8CxfRnV6KK&export=download'> --><a href="https://wa.me/+260975904433"><img src="../../static/images/tutorials/sr/mat/mensuration.png" height=187.04px class="imb" width=132.32px alt="Mensuration" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link11">Brain Booster</a><br/></p>  -->
               <p class="linkCon"><a href='' class="link11">Practice Test</a><br/></p>
              <p class="linkCon"><a href='' class="link11">Practice Test Answers</a></p> 
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
      
            <div class="topicCon11">
              <h4 class="topicSelector">Vectors<br/><span class='badge' class="price">4 ZMW </span></h4>
              <p class="image"><!-- <a href='https://drive.google.com/uc?id=1Ato8UzJ1-rd3TkW4x9qJxLuprTyYxuwE&export=download'> --><a href="https://wa.me/+260975904433"><img src="../../static/images/tutorials/sr/mat/vectors.png" height=187.04px class="imb" width=132.32px alt="Vectors" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link11">Brain Booster</a><br/></p>  -->
               <p class="linkCon"><a href='' class="link11">Practice Test</a><br/></p>
              <p class="linkCon"><a href='' class="link11">Practice Test Answers</a></p> 
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
      
            <div class="topicCon11">
              <h4 class="topicSelector"><x style='color: #0066FF'>Probability</x><br/><span class='badge' class="price">4 ZMW </span></h4>
              <p class="image"><!-- <a href='https://drive.google.com/uc?id=1MLbWwfre0hEScUVyitnZwQK_5gQNu_fS&export=download'> --><a href="https://wa.me/+260975904433"><img src="../../static/images/tutorials/sr/mat/probability.png" height=187.04px class="imb" width=132.32px alt="Probability" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link11">Brain Booster</a><br/></p>  -->
               <p class="linkCon"><a href='' class="link11">Practice Test</a><br/></p>
              <p class="linkCon"><a href='' class="link11">Practice Test Answers</a></p> 
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
            </div>
      
      
      
      
      
            
      
      
      
      
      
      
      
      
      
      
      














            
      
      
      
      
      
      
            <div class='grade12'>
            <h3 style="text-align: center; font-size: 25px; font-family: 'tahoma sans-serif'; font-weight: bolder; color: red; background-color: rgb(204, 255, 0); padding: 15px;">Grade Twelve</h3>
            <div class="topicCon12">
              <h4 class="topicSelector"><x style='color: #0066FF'>Computer (PseudoCode and Flow Charts)</x><br/><span class='badge' class="price">4 ZMW </span></h4>
              <p class="image"><!-- <a href='https://drive.google.com/uc?id=1g9esFp_Wtw6O5YufTLzyZ55dEABVrblr&export=download'> --><a href="https://wa.me/+260975904433"><img src="../../static/images/tutorials/sr/mat/computer.png" height=187.04px class="imb" width=132.32px alt="Computer (PseudoCode and Flow charts)" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link12">Brain Booster</a><br/></p>  -->
              <p class="linkCon"><a href='https://drive.google.com/uc?id=1nA_WRjNhAuWTnRmptK0ZUvtjzpjNvBiC&export=download' class="link12">Practice Test</a><br/></p>
               <p class="linkCon"><a href='' class="link12">Practice Test Answers</a></p> 
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
      
            <div class="topicCon12">
              <h4 class="topicSelector">Earth Geometry<br/><span class='badge' class="price">4 ZMW </span></h4>
              <p class="image"><!-- <a href='https://drive.google.com/uc?id=1OuHVLcznNtX4TUmSGfrorGz6h7nKWB6d&export=download'> --><a href="https://wa.me/+260975904433"><img src="../../static/images/tutorials/sr/mat/earth_geometry.png" height=187.04px class="imb" width=132.32px alt="Earth Geometry" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link12">Brain Booster</a><br/></p>  -->
              <p class="linkCon"><a href='https://drive.google.com/uc?id=1TD-ymEobcNQtjcGPzbwIUVHT-f43MvOs&export=download' class="link12">Practice Test</a><br/></p>
              <p class="linkCon"><a href='https://drive.google.com/uc?id=1jQ6fDlo4OQbE-rD6bJyAUsmxcjDg1ZPe&export=download' class="link12">Practice Test Answers</a></p>
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
      
            <div class="topicCon12">
              <h4 class="topicSelector">Trigonometry<br/><span class='badge' class="new">FREE</span></h4>
              <p class="image"><a href='https://drive.google.com/uc?id=1kaSipS3MMPuzaP0BoPoQxbS_XhDhOO7I&export=download'><img src="../../static/images/tutorials/sr/mat/trigonometry.png" height=187.04px width=132.32px class="imb" alt="Trigonometry" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link12">Brain Booster</a><br/></p>  -->
               <p class="linkCon"><a href='' class="link12">Practice Test</a><br/></p>
              <p class="linkCon"><a href='' class="link12">Practice Test Answers</a></p> 
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
      
            <div class="topicCon12">
              <h4 class="topicSelector">Calculus: Differentiation<br/><span class='badge' class="price">4 ZMW </span></h4>
              <p class="image"><!-- <a href='https://drive.google.com/uc?id=1nntjkiOsbLrpmQxgdXrnBqLiExGwL1s0&export=download'> --><a href="https://wa.me/+260975904433"><img src="../../static/images/tutorials/sr/mat/calculus_(Differentiation).png" height=187.04px class="imb" width=132.32px alt="Calculus: Differentiation" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link12">Brain Booster</a><br/></p>  -->
              <p class="linkCon"><a href='https://drive.google.com/uc?id=1iuAatrkmQ-DlXcvcIcBoOocjsV8T8fMV&export=download' class="link12">Practice Test</a><br/></p>
               <p class="linkCon"><a href='' class="link12">Practice Test Answers</a></p> 
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
      
            <div class="topicCon12">
              <h4 class="topicSelector">Calculus: Integration<br/><span class='badge' class="price">4 ZMW </span></h4>
              <p class="image"><!-- <a href='https://drive.google.com/uc?id=1wIyu7esKc3jPW9cb3yzbS1cqADSqXxCu&export=download'> --><a href="https://wa.me/+260975904433"><img src="../../static/images/tutorials/sr/mat/calculus_(Integration).png" height=187.04px class="imb" width=132.32px alt="Calculus: Integration" class="products"/></a></p>
               <!-- <p class="linkCon"><a href='' class="link12">Brain Booster</a><br/></p>  -->
               <p class="linkCon"><a href='' class="link12">Practice Test</a><br/></p>
              <p class="linkCon"><a href='' class="link12">Practice Test Answers</a></p> 
               <!-- <p>
                <audio src='' controls="controls" style='width: 96%'></audio>
                <video src='' height={150} width={250} controls="controls"></video>
              </p>  -->
            </div>
            </div>
        
    </main>
{% endblock body %}