{% extends 'mainapp/base.html' %}
{% load static %}
{% block seo %}
                <meta name="description" content="STudy STar smartify page| How smart are you? Can you become smarter? Click this link to find out" />
                <meta name="keywords" content="{% for item in api_data %}{{item.title}}{% endfor %}" />
                <meta property="og:title" content="STudy STar| Smartify" />
                <meta property="og:description" content="STudy STar smartify page| How smart are you? Can you become smarter? Click this link to find out" />
                <meta property="og:image" content="https://www.studystar.org/static/images/smartify/brain.PNG" />
                <meta property="og:url" content="https://www.studystar.org/smartify" />
                <meta property="og:type" content="website" />
                <link rel="canonical" href="https://www.studystar.org/smartify"/> 
{% endblock seo%}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/smartify.css' %}"/>
{% endblock link %}
{% block title%}
    <title>STudy STar| Smartify Page</title>
{% endblock title %}
{% block body %}
    <main>
        <main>
        <!-- Start of Menu -->

        <!-- The sliding menu -->
        <div id="menu" class="menu">
            <div style="text-align: center;"><img src="../../static/images/logo.png" height="45px" width="45px" style="border-radius: 45px;"/></div>
            <a href="javascript:void(0)" class="close-btn" onclick="closeMenu()">&times;</a>
            <a href="{% url 'homePage' %}" class="btn-menu" onclick="closeMenu()">Home</a>
            <a href="{% url 'booksPage' %}" class="btn-menu" onclick="closeMenu()">Books</a>
            <a href="{% url 'tutorialsPage' %}" class="btn-menu" onclick="closeMenu()">Tutorials</a>
            <a href="{% url 'videosPage' %}" class="btn-menu" onclick="closeMenu()">Videos</a>
            <a href="{% url 'podcastsPage' %}" class="btn-menu" onclick="closeMenu()">Podcasts</a>
            <a href="{% url 'smartifyPage' %}" class="selected" onclick="closeMenu()">Smartify</a>
            <a href="{% url 'aboutPage' %}" class="btn-menu" onclick="closeMenu()">About</a>
            <div class="label" style="text-align: center;">&copy; 2025 STudy STar</div>
        </div>

        <!-- Page content -->
        <div id="main" style="text-align: center;">
            <span style="font-size:24px; cursor:pointer" onclick="openMenu()">
                <b style="border: 1px solid black; border-radius: 30px; margin: 5px; padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;">
                    &#9776;
                </b>
            </span>
        </div>

        <script src="{% static 'js/scripts.js' %}"></script>

        <!-- End of Menu -->
        <h1 class="h1">SMARTIFY PAGE</h1>



        <div class="container">
            {% if api_data %}
                {% for item in api_data %}
                    <div class="container">
                        <h3 class="title">{{item.title}}</h3>
                        <p style="text-align: right"><small>{{item.date}}</small><br/><small>{{item.time}}</small></p>
                        <br/><p style="text-align: center"><a href="{% url 'smartifyDetailsPage' item.id %}"><img src={{item.firstImage}}  width='280px' alt={{item.title}}/></a></p><br/>
                        <p style="text-indent: 20px; font-family: 'Raleway', sans-serif; font-optical-sizing: auto; font-weight: 300px; font-style: normal; font-size: 17px;">
                            {{item.introFirst}}
                        </p>
                        <p style="text-align: right; font-size: 17px"><a href="{% url 'smartifyDetailsPage' item.id %}">finish...</a></p>
                    </div>
                    <hr/>
                {% endfor %}

            {% else %}
                <h1>No Data Found</h1>
            {% endif %}
        </div>

        


    </main>
{% endblock body %}

