{% extends 'mainapp/base.html' %}
{% load static %}

{% block seo %}
    <meta name="description" content="STudy STar tutorials page| Additional Mathematics, Biology, Chemistry, English, Mathematics, Physics" />
    <meta name="keywords" content="study star biology, physics, chemistry, additional mathematics, biology, english, mathematics" />
    <meta property="og:title" content="STudy STar| Tutorials Page" />
    <meta property="og:description" content="STudy STar tutorials page| Additional Mathematics, Biology, Chemistry, English, Mathematics, Physics" />
    <meta property="og:image" content="http://www.studystar.me/static/media/night.686219a0336e4b7eff0d.jpg" />
    <meta property="og:url" content="https://www.studystar.me/tutorials" />
    <meta property="og:type" content="website" />
    <link rel="canonical" href="https://www.studystar.me/tutorials"/>
{% endblock seo%}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/tutorials.css' %}"/>
{% endblock link %}
{% block title%}
    <title>STudy STar| Tutorials Page</title>
{% endblock title %}
{% block body %}
    <main>
        <main>
        <!-- Start of Menu --> 

        <!-- The sliding menu -->
        <div id="menu" class="menu">
            <div style="text-align: center;"><img src="../../static/images/logo.png" height="45px" width="45px" style="border-radius: 45px;"/></div>
            <a href="javascript:void(0)" class="close-btn" onclick="closeMenu()">&times;</a>
            <a href="{% url 'homePage' %}" class="btn-menu" onclick="closeMenu()">Home</a>
            <a href="{% url 'booksPage' %}" class="btn-menu" onclick="closeMenu()">Books</a>
            <a href="{% url 'tutorialsPage' %}" class="selected" onclick="closeMenu()">Tutorials</a>
            <a href="{% url 'videosPage' %}" class="btn-menu" onclick="closeMenu()">Videos</a>
            <a href="{% url 'podcastsPage' %}" class="btn-menu" onclick="closeMenu()">Podcasts</a>
            <a href="{% url 'smartifyPage' %}" class="btn-menu" onclick="closeMenu()">Smartify</a>
            <a href="{% url 'aboutPage' %}" class="btn-menu" onclick="closeMenu()">About</a>
            <div class="label" style="text-align: center;">&copy; 2025 STudy STar</div>
        </div>

        <!-- Page content -->
        <div id="main" style="text-align: center;">
            <span style="font-size:24px; cursor:pointer" onclick="openMenu()">
                <b style="border: 1px solid black; border-radius: 30px; margin: 5px; padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;">
                    &#9776;
                </b>
            </span>
        </div>

        <script src="{% static 'js/scripts.js' %}"></script>

        <!-- End of Menu -->
        <div class="h1"><h1>TUTORIALS PAGE</h1></div>
        <div><br/>
            <div class="h1-level"><h2>Level Selection</h2></div>
            <div class='container'><br/>
                    <div style="text-align: center;">
                        <a href="{% url 'gradePage' %}" class="level-btn">Grade 10 - 12</a>
                    </div><br/<br/>
            </div>
        </div>
    </main>
{% endblock body %}