{% extends 'mainapp/base.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/videos.css' %}"/>
{% endblock link %}
{% block title%}
    <title>STudy STar| Videos Page</title>
{% endblock title %}
{% block body %}
    <main>
        <!-- Start of Menu -->

        <!-- The sliding menu -->
        <div id="menu" class="menu">
            <div style="text-align: center;"><img src="../../static/images/logo.png" height="45px" width="45px" style="border-radius: 45px;"/></div>
            <a href="javascript:void(0)" class="close-btn" onclick="closeMenu()">&times;</a>
            <a href="{% url 'homePage' %}" class="btn-menu" onclick="closeMenu()">Home</a>
            <a href="{% url 'booksPage' %}" class="btn-menu" onclick="closeMenu()">Books</a>
            <a href="{% url 'tutorialsPage' %}" class="btn-menu" onclick="closeMenu()">Tutorials</a>
            <a href="{% url 'videosPage' %}" class="selected" onclick="closeMenu()">Videos</a>
            <a href="{% url 'podcastsPage' %}" class="btn-menu" onclick="closeMenu()">Podcasts</a>
            <a href="{% url 'smartifyPage' %}" class="btn-menu" onclick="closeMenu()">Smartify</a>
            <a href="{% url 'aboutPage' %}" class="btn-menu" onclick="closeMenu()">About</a>
            <div class="label" style="text-align: center;">&copy; 2025 STudy STar</div>
        </div>

        <!-- Page content -->
        <div id="main" style="text-align: center;">
            <span style="font-size:24px; cursor:pointer" onclick="openMenu()">
                <b style="border: 1px solid black; border-radius: 30px; margin: 5px; padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;">
                    &#9776;
                </b>
            </span>
        </div>

        <script src="{% static 'js/scripts.js' %}"></script>

        <!-- End of Menu -->
        <h1 class="h1">VIDEOS PAGE</h1>
        <div className='body'>
            <p style="text-align: center">This is the Videos page</p>
            <div style="text-align: center"><hr/>
                <p><b>Algebra Part 4</b></p>
                <p>In this video I continue algebra and teach: <br/> - Factorisation of Quadratic Expressions <br/> - Algebraic Fractions</p>
                <p><iframe width="320px" height="250px" src="https://www.youtube.com/embed/FBzXuLykH0o?si=6OhyQ_oGh8el_a1W_" title="Algebra Part 4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p>
            </div>
            <div style="text-align: center"><hr/>
                <p><b>Algebra Part 3</b></p>
                <p>In this video I continue algebra and teach: <br/> - Normal Factorisation <br/> - Defferences of two squares <br/> - Grouped Factorisation</p>
                <p><iframe width="320px" height="250px" src="https://www.youtube.com/embed/X3ZX8oUu2bE?si=80BUdbc8plnB74H_" title="Algebra Part 3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p>
            </div>
            <div style="text-align: center"><hr/>
                <p><b>Algebra Part 2</b></p>
                <p>In this video I continue algebra and teach: <br/> - Expansion <br/> - Substitution</p>
                <p><iframe width="320px" height="250px" src="https://www.youtube.com/embed/pU0Bn8aqgso?si=CKcE374rGDgLabiY" title="Algebra Part 2" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p>
            </div>
            <div style="text-align: center"><hr/>
                <p><b>Algebra Part 1</b></p>
                <p>
                    Grade 8 and 10 basic algebra. It is the first video you should watch if you want to build your knowledge in math on a strong 
                    foundation. In this video I teach: <br/> - Like and Unlike Terms<br/> - Simplification of expressions
                </p>
                <p><iframe width="320px" height="250px" src="https://www.youtube.com/embed/BfPdbkeSogY?si=2L1QyJew05IUMYWl" title="Algebra Part 1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p>
            </div>
        </div>
    </main>
{% endblock body %}