.h1 {
    text-align: center; 
    text-decoration: underline; 
    font-family: "tahoma"; 
    text-decoration-color: gold;
    font-weight: bolder; 
}

.tit {
    font-family: "Castoro Titling", serif;
    font-weight: 400px;
    font-style: normal;
    margin-top: 10px;
    text-align: center
}

.row{
    text-align: center;
}

.image {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
        
}

img {
     border-radius: 9px;
}

.para {
    padding-bottom: 15px;
    font-family: arial;
    text-indent: 20px;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
}

.main{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancelled {
    text-decoration: line-through;
    color: red;
}

*{
    text-align: center;
}

#border {
    border: 1px dotted black; 
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
}

.new {
    font-weight: bolder;
    color: rgb(12, 200, 150);
}
