.paragraph{
    text-indent: 20px; 
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal; 
    font-size: 17px;
}
.headerParagraphs{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800px;
    font-style: normal; 
    font-size: 17px;
}

body{
    width: 100%;
}