.h1 {
    text-align: center; 
    text-decoration: underline; 
    font-family: "tahoma"; 
    text-decoration-color: gold;
    font-weight: bolder;
}

.quote { 
    text-align: center; 
    font-size: 16px;
}

.subTitle {
    text-align: center;
    font-size: 20px;
    margin-top: 15px; 
    color: rgb(40, 150, 200);
    font-weight: bold;
}

.a {
    margin-left: 1px;
    margin-right: 1px;
}

.img {
    margin-top: 10px; 
    margin-bottom: 10px;
    border-radius: 5px;
}

.products {
    text-align: center;
}



.title{
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 600px;
    font-style: normal;
    text-align: center
}
.para{
    font-family: arial;
    text-align: center;
}
.h1{
    text-align: center; 
    text-decoration: underline; 
    font-family: "tahoma"; 
    text-decoration-color: red;
    font-weight: 900px;
}